/* Crea un botón con un fondo de color, bordes redondeados y efecto de sombra cuando el usuario pase el cursor sobre él */

.btn {
    padding: 1vw 2vw 1vw 2vw;
    background-color: green;
    color: white;
    border-radius: 1vh;
    border-style: none;
    transition: box-shadow 0.3s ease;
}

.btn:hover {
    background-color: rgba(0, 128, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.401);
}