.box {
    width: 300px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* ALINEO VERTICAL */
    justify-content: center; /* ALINEO HORIZONTAL */
}

.centered-text {
    text-align: center;
}